extends layout
block content
	h1 Hello World!
	//- #menu
	//- 	form( method="post", action="/submit", enctype="multipart/form-data")#menu-form.form-horizontal.well.span6
	//- 	        h1 Login
	//- 	        hr
	//- 	        fieldset
	//- 	            #username-label.control-group
	//- 	                label.control-label(for='username-label') Username
	//- 	                .controls
	//- 	                    input#username.input-xlarge(type='text', name='name', value= user.name)
	//- 	            #password-label.control-group
	//- 	                label.control-label(for='password-label') Password
	//- 	                .controls
	//- 	                	input#password.input-xlarge(type='password', name='password', value=user.pw)
	//- 	            .form-actions
	//- 	                button(type='submit' )#menu-form-btn2.btn.btn-warning Submit
